[Package]
version: 5
depends: opsi-mac-client-agent (>= 4.1.1.11-1) 

[Product]
type: localboot
id: m-opsi-client-kiosk
name: m-opsi-client-kiosk
description: opsi-client-kiosk for MacOS. Allows to install software with Opsi on the client on demand.
advice: opsi-client-agent version >= 4.1.1.11-1 had to be installed on the client.
version: 4.1.1.17
priority: 0
licenseRequired: False 
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: opsi-mac-client-agent
requiredStatus: installed 

[ProductProperty]
type: bool
name: install_icon_collection
description: Should a default icon collection installed where icons can be chosen from?
default: False
